# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/*
!.gitignore
!build.gradle
!LICENSE-carpentersblocks.txt
!README.md
!src/
Thumbs.db