# Ignore everything in the root with exceptions.
/*
!.gitignore
!LICENSE-carpentersblocks.txt
!README.md

!/mcp
/mcp/*
!/mcp/src
/mcp/src/*
!/mcp/src/minecraft
/mcp/src/minecraft/*
!/mcp/src/minecraft/com
/mcp/src/minecraft/com/*
!mcp/src/minecraft/com/carpentersblocks
!/mcp/src/minecraft/assets
/mcp/src/minecraft/assets/*
!/mcp/src/minecraft/assets/carpentersblocks