/*******************************************************************************
Navbar
*******************************************************************************/

#nav ul {
   margin: 0;
   padding: 0 0 20px 0;
   list-style-type: none;
   color: white;
}

#nav ul li {
   display: inline-block;
   color: white;
   background-color: #5e5042;
   font-size: large;
   padding: 5px 10px 5px 10px;
   border-radius: 5px;
   cursor: pointer;
}

#nav ul li:hover {
   background-color: #796755;
}

/*******************************************************************************
Theme
*******************************************************************************/

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: #007edf;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

figure {
   margin-top: 30px;
   display: inline-block;
}

figcaption {
   font-size: large;
}

#changelog {
   margin: 0;
   padding: 0;
}

#changelog-full {
   background-color: white;
   padding: 5px;
   margin: 10px 0 10px 0;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0,0,0,.1);
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 20px 10px 20px 10px;
}

.indent {
   margin: 0px 0px 10px 30px;
   max-width: 954px;
}

.pack-contributor {
   color: white;
   text-decoration: underline;
}

.pack-contributor:hover {
   color: white;
   text-decoration: none;
}

.title {
  margin: -10px 0 -5px 0;
  color: gold;
  font-size: 55px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.subtitle {
  color: gray;
  margin-left: 2px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  text-shadow: #111 0px 0px 10px;
}

.figure-container {
   padding: 10px;
   text-align: center;
}

.hidden {
   display: none;
   background-color: rgba(0,0,0,0.05);
   padding: 5px;
   margin: 10px;
   border-radius: 5px;
}

.text-shadow {
   text-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

.download-container {
   display: table;
   border: 1px solid rgba(0,0,0,0.1);
   padding: 5px;
   border-radius: 5px;
   margin: 0px 0px 10px 30px;
   width: 954px;
}

.download-container-version {
   display: table-cell;
   padding-bottom: 5px;
}

.inner {
  position: relative;
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
}

/*******************************************************************************
Bootstrap Modifications
*******************************************************************************/

.tooltip > .tooltip-inner {
   font-weight: bold;
}

.label-default + .tooltip > .tooltip-inner {
   background-color: #777777;
}

.label-default + .tooltip.top .tooltip-arrow {
   border-top-color: #777777;
}

.label-primary + .tooltip > .tooltip-inner {
   background-color: #428bca;
}

.label-primary + .tooltip.top .tooltip-arrow {
   border-top-color: #428bca;
}

.label-success + .tooltip > .tooltip-inner {
   background-color: #5cb85c;
}

.label-success + .tooltip.top .tooltip-arrow {
   border-top-color: #5cb85c;
}

.label-info + .tooltip > .tooltip-inner {
   background-color: #5bc0de;
}

.label-info + .tooltip.top .tooltip-arrow {
   border-top-color: #5bc0de;
}

.label-warning + .tooltip > .tooltip-inner {
   background-color: #f0ad4e;
}

.label-warning + .tooltip.top .tooltip-arrow {
   border-top-color: #f0ad4e;
}

.label-danger + .tooltip > .tooltip-inner {
   background-color: #d9534f;
}

.label-danger + .tooltip.top .tooltip-arrow {
   border-top-color: #d9534f;
}

.tooltip.in {
   opacity: 1;
   filter: alpha(opacity=100);
}

.label {
   cursor: default;
}