/*******************************************************************************
Navbar
*******************************************************************************/

#nav ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   color: white;
}

#nav ul li {
   display: inline-block;
   color: white;
   background-color: #5e5042;
   font-size: large;
   padding: 5px 10px 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 5px;
}

#nav ul li:hover {
   background-color: #796755;
}

/*******************************************************************************
Full Theme
*******************************************************************************/

h1, h2, h3, h4, h5, h6 {
   margin: 10px 0;
   font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: -1px;
}

a {
   text-decoration: none;
   color: #007edf;
   transition: color 0.5s ease;
   transition: text-shadow 0.5s ease;
   -webkit-transition: color 0.5s ease;
   -webkit-transition: text-shadow 0.5s ease;
   -moz-transition: color 0.5s ease;
   -moz-transition: text-shadow 0.5s ease;
   -o-transition: color 0.5s ease;
   -o-transition: text-shadow 0.5s ease;
   -ms-transition: color 0.5s ease;
   -ms-transition: text-shadow 0.5s ease;
}

figure {
   margin-top: 30px;
   display: inline-block;
}

figcaption {
   font-size: large;
}

header {
   background: #212121;
   background: -moz-linear-gradient(top, #373737, #212121);
   background: -webkit-linear-gradient(top, #373737, #212121);
   background: -ms-linear-gradient(top, #373737, #212121);
   background: -o-linear-gradient(top, #373737, #212121);
   background: linear-gradient(top, #373737, #212121);
}

header .inner {
   padding: 0 20px 0 20px;
}

.banner {
   float: left;
}

.banner-image {
   height: 165px;
   padding: 10px 10px 10px 20px;
}

.inner {
   max-width: 1024px;
   padding: 20px;
   margin: 0 auto;
}

.indent {
   margin: 0px 0px 10px 30px;
   width: -moz-calc(100% - 30px);
   width: -webkit-calc(100% - 30px);
   width: -o-calc(100% - 30px);
   width: calc(100% - 30px);
}

.pack-contributor {
   color: white;
   text-decoration: underline;
}

.pack-contributor:hover {
   color: white;
   text-decoration: none;
}

.title {
   color: gold;
   margin-bottom: 0;
   font-size: 55px;
   font-weight: 700;
   text-shadow: #111 0px 0px 10px;
}

.subtitle {
   color: gray;
   margin: 5px 0 5px 0;
   font-size: 24px;
   font-weight: 300;
   text-shadow: #111 0px 0px 10px;
}

.creation-date {
   font-size: x-small;
   color: rgba(255,255,255,0.5);
   cursor: default;
   padding: 2px 0 5px 0;
   margin: 0;
}

.figure-container {
   padding: 10px;
   text-align: center;
}

.text-shadow {
   text-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

.download-container {
   display: table;
   border: 1px solid rgba(0,0,0,0.1);
   padding: 5px;
   border-radius: 5px;
   margin: 0px 0px 10px 30px;
   width: -moz-calc(100% - 30px);
   width: -webkit-calc(100% - 30px);
   width: -o-calc(100% - 30px);
   width: calc(100% - 30px);
}

.download-container-version {
   display: table-cell;
   padding-bottom: 5px;
}

.collapsed {
   display: none;
   list-style: none;
   margin: 0;
   padding: 10px 5px 0px 0px;
}

.dropbox {
   width: 90px;
   border: 2px solid #007ee5;
   border-radius: 2px;
   background: url('../images/dropbox_logo.png') no-repeat scroll 0 0 #007ee5;
   background-size: 80px;
   background-position: center;   
   color: transparent;
}

.dropbox:hover {
   opacity: 0.75;
}

/*******************************************************************************
Bootstrap Modifications
*******************************************************************************/

.tooltip > .tooltip-inner {
   font-weight: bold;
}

.label-default + .tooltip > .tooltip-inner {
   background-color: #777777;
}

.label-default + .tooltip.top .tooltip-arrow {
   border-top-color: #777777;
}

.label-primary + .tooltip > .tooltip-inner {
   background-color: #428bca;
}

.label-primary + .tooltip.top .tooltip-arrow {
   border-top-color: #428bca;
}

.label-success + .tooltip > .tooltip-inner {
   background-color: #5cb85c;
}

.label-success + .tooltip.top .tooltip-arrow {
   border-top-color: #5cb85c;
}

.label-info + .tooltip > .tooltip-inner {
   background-color: #5bc0de;
}

.label-info + .tooltip.top .tooltip-arrow {
   border-top-color: #5bc0de;
}

.label-warning + .tooltip > .tooltip-inner {
   background-color: #f0ad4e;
}

.label-warning + .tooltip.top .tooltip-arrow {
   border-top-color: #f0ad4e;
}

.label-danger + .tooltip > .tooltip-inner {
   background-color: #d9534f;
}

.label-danger + .tooltip.top .tooltip-arrow {
   border-top-color: #d9534f;
}

.tooltip.in {
   opacity: 1;
   filter: alpha(opacity=100);
}

.label {
   cursor: default;
}

/*******************************************************************************
Mobile Theme
*******************************************************************************/

@media (max-width: 540px) {

   #nav ul li {
      display: block;
   }
   
   .banner {
      width: 100%;
   }
   
   .title {
      font-size: 35px;
   }
   
   .subtitle {
      font-size: 20px;
   }
   
   .banner-image {
      display: none;
   }
   
}