<!DOCTYPE html>
<html>

   <head>
      <meta charset='utf-8' />
      <meta http-equiv="X-UA-Compatible" content="chrome=1" />
      <meta name="description" content="Carpentersblocks : A Minecraft mod." />
      <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <script src="javascripts/jquery-2.1.1.min.js"></script>
      <title>Carpenter's Blocks {% if page.title %} - {{ page.title }} {% endif %}</title>
   </head>

   <body>

      <!-- HEADER -->

      <div id="header_wrap" class="outer">
         <header class="inner">

            <h1 id="project_title">Carpenter's Blocks</h1>
            <h2 id="project_tagline">Customize your Minecraft world.</h2>
            <section id="nav">
               <ul>
                  <li onclick="location.href='index.html'">Home</li>
                  <li onclick="location.href='downloads.html'">Downloads</li>
                  <li onclick="location.href='recipes.html'">Recipes</li>
                  <li onclick="location.href='howto.html'">How To</li>
               </ul>
            </section>

            <div style="float: right; display: inline;">
               <a id="viewgit_banner" href="https://github.com/Mineshopper/carpentersblocks" target="_blank">View on GitHub</a><br>
               <section id="cbimage"></section>
            </div>

         </header>
      </div>

      <!-- MAIN CONTENT -->

      <div id="main_content_wrap" class="outer">
         <section id="main_content" class="inner">
            {{ content }}
         </section>
      </div>

      <!-- FOOTER  -->
      
      <footer>
         This is the footer.
      </footer>

      <script type="text/javascript">
         var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
         document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
         try {
            var pageTracker = _gat._getTracker("UA-52814519-1");
            pageTracker._trackPageview();
         } catch(err) {}
         $('.expand').click(function() {
            $(this).next().next('.hidden').slideToggle("fast");
         });
      </script>

   </body>
   
</html>
